<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:t="http://tapestry.apache.org/schema/tapestry_5_4.xsd"
        >
<head>
    <meta charset="utf-8"/>
    <title>${title}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="EUV Leerungsabfrage"/>
    <meta name="author" content="Marcus Schneider"/>
    <!-- Fav and touch icons -->
    <link rel="shortcut icon" href="${asset:context:/favicon.ico}"/>
</head>

<body>

<div class="container">
	<t:PageLink page="Index">
		<img src="images/content_header_leerungsabfrage_2019.jpg" alt="Leerungsabfrage vom EUV" class="img-fluid" style="max-width:100%;height:auto;"/>
	</t:PageLink>
</div>

<!--
<div class="container-fluid">
    <div class="row">
        <div class="span12">
            <t:alerts/>
        </div>
    </div>
</div>
-->

<t:body />

<div class="container">
    <hr />
    <footer>
        <p>Licensed under the AGPLv3</p>
        <p>by EUV Stadtbetrieb Castrop-Rauxel -AöR- 2018 (Version: ${getVersion()})</p>
        <p>Source at <a href="https://www.gitlab.com/euv/leerung">https://www.gitlab.com/euv/leerung</a></p>
        <p><t:PageLink page="Datenschutz">Datenschutz</t:PageLink></p>
    </footer>
</div>

</body>
</html>
