@euv-blue: #0081BA;
@euv-select: rgb(16,68,126);
@euv-gray: #e0eaf7;

@euv-blue-dark: #787878;
@euv-gray-dark: #d1d1cf;


body {
	font-family: Verdana, Arial, sans-serif;
}

h1 {
	color: @euv-blue;
	font-weight: 800;
	font-size: 2rem;
	text-transform: uppercase;
}

h2 {
	color: @euv-blue;
	font-weight: 500;
	font-size: 1.3rem;
	text-transform: uppercase;
}

h3 {
	color: @euv-blue;
	font-weight: 500;
	font-size: 1.1rem;
	text-transform: uppercase;
}

label {
	color: @euv-blue;
}

select.classic {
	background-color: transparent;
	border: thin solid black;
	border-radius: 4px;
	display: inline-block;
	line-height: 1.5em;
	padding: 0.5em 3.5em 0.5em 1em;

	margin: 0;      
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-appearance: none;
	-moz-appearance: none;
	
  	background-image:
		linear-gradient(45deg, transparent 50%, @euv-select 50%),
		linear-gradient(135deg, @euv-select 50%, transparent 50%),
		linear-gradient(to right, @euv-gray, @euv-gray);

	background-position:
		calc(~"100% - 18px") calc(1em),
		calc(~"100% - 10px") calc(1em),
		100% 0;
	
	background-size:
		8px 8px,
		8px 8px,
		2.5em 2.5em;
	
	background-repeat: no-repeat;
}

.euv-button {
	background-color: @euv-gray;
	color: @euv-blue;
	border: thin solid black;
	border-radius: 4px;
	padding: 6px;
	font-weight: 550;
}

.euv-button:disabled {
	background-color: @euv-gray-dark;
	color: @euv-blue-dark;
}

footer {
	font-size: 0.8em;
}

.spacer {
	padding: 1em;
}

.spacer-big {
	padding: 2em;
}

.spacer-small {
	padding: 0.5em;
}

.table-bordered th,
.table-bordered td {
    border: 1px solid black !important;
}

.table-bordered {
	border-left: 0 none !important; 
	border-right: 0 none !important;
	border-top: 0px none !important;
	border-bottom: 1px solid black !important;
}

@media print {
	.page-break-before {
		page-break-before: always;
	}
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
