@light-gray: #303030;
@gray: #d0d0d0;

@euv-monat-header: #d2d4d1;
@euv-monat-weekend-bg: #e9e9e6;

@tonne-grau: grey;
@tonne-gelb: yellow;
@tonne-blau: blue;
@tonne-braun: brown;

.in-month {
	color: @light-gray;
}

.out-month {
	color: @gray;
}

.euv-monat-header {
	background-color: @euv-monat-header;
}

.euv-monat-row td {
	height: 8em;
	width: 14%;
}

.euv-monat-img {
	margin: 8px 12px 8px 0px;
	width: auto;
	height: 24px;
}

.euv-monat-weekend {
	background-color: @euv-monat-weekend-bg;
}

td.euv-monat-col-1 {
	border-left-style: none !important;
}

td.euv-monat-col-7 {
	border-right-style: none !important;
}

.euv-monat-header th {
	border: 0 !important;
}

.vcenter {
   display: inline-block;
   vertical-align: middle;
   float: none;
}

.euv-monat-title {
	margin: 0;	
}
